In [1]:
import pandas as pd

df = pd.read_csv("per_day_participant_dataset.csv")

In [3]:
df.head(5)

,Unnamed: 0,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,activity,activity_count,screen,...,appCat.social,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count
0,"('AS14.01', datetime.date(2014, 2, 26))",25.0,4,-1.0,4,3.0,4,0.000000,0,0.000000,...,0.000,0,0.000,0,0.000,0,0.000,0,0.000,0
1,"('AS14.01', datetime.date(2014, 2, 27))",44.0,7,-1.0,7,4.0,7,0.000000,0,0.000000,...,0.000,0,0.000,0,0.000,0,0.000,0,0.000,0
2,"('AS14.01', datetime.date(2014, 3, 21))",75.0,12,0.0,12,5.0,12,3.246248,25,20254.851000,...,5316.231,71,915.445,13,45.173,1,619.828,28,0.000,0
3,"('AS14.01', datetime.date(2014, 3, 22))",107.0,17,3.0,17,NaN,17,7.036331,41,26397.012000,...,5755.863,83,952.750,14,45.173,1,737.449,31,0.000,0
4,"('AS14.01', datetime.date(2014, 3, 23))",141.0,22,4.0,22,NaN,22,9.177448,56,33170.844001,...,6656.702,101,952.750,14,45.173,1,767.535,32,30.386,1

In [6]:
import dataset_tools as dt

In [ ]:
raw_df = pd.read_csv("dataset_mood_smartphone.csv")